.home {
	text-align: center;
}

.home img {
	padding: 1.5rem;
}

.home img:hover {
	filter: drop-shadow(0 0 3rem #00aaff88);
}

.home section {
	margin-top: 10rem auto;
	display: block;
}

.home section p, h1 {
	max-width: 600px;
	color: whitesmoke;
}
