.modal-test {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%); 
    background-color: pink;
    border: 5px solid red;
    
}