:root {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: #444;
	background: #fafafa;
}

.ol-zoom {
	display: none!important;
}

.ol-rotate {
	display: none!important;
}

.ol-attribution{
	display: none!important;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #fff;
		background: #1c1c1c;
	}
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

#app > main {
	display: flex;
	padding-top: 3.5rem;
	margin: 0 auto;
	min-height: calc(100vh - 3.5rem);
	align-items: center;
	justify-content: center;
}

@media (max-width: 639px) {
	#app > main {
		margin: 0 2rem;
	}
}


.outer-container {
	display: inline-block;
	position: relative;
	top: 15px;
	left: 15px;
	background-color: #3180ef;
	height: 34px;
	width: 100px;
	padding: 3px 2px 3px 5px;
	border-radius: 34px;
	overflow: hidden;
	cursor: pointer;
}



.coord-box input {
	font-size: 20px;
	padding-left: 8px;
}

.coord-button {
	background-color: #3d3d3d;
	transition: background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .1s, width cubic-bezier(0.445, 0.05, 0.55, 0.95) .1s;
	border: none;
	cursor: pointer;
	position: relative;
	width: 220px;
}

.coord-button:hover {
	background-color: #4373d4;
	width: 230px;
}

.slider-lon {
	background-color: #222;
	height: 30px;
	width: 30px;
	position: relative;
	left: 0;
	top: 2px;
	transition: left cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s, background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
	border-radius: 34px;
}

.slider-lat {
	background-color: #222;
	height: 30px;
	width: 30px;
	position: relative;
	left: 0;
	top: 2px;
	transition: left cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s, background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
	border-radius: 34px;
}

.slider-lon.true {
	left: 66px;
	background-color: #1f485e;
	box-shadow: 0px 0px 100px 100px #92bfe3;
}

.slider-lat.true {
	left: 66px;
	background-color: #1f485e;
	box-shadow: 0px 0px 100px 100px #92bfe3;
}